<!doctype html>
<html>
  <head>
    <title>DEMO</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8"></link>
  </head>
  <body>
    <div id='logo'></div>
    <img id='top-img' src="/img/iwi.png"></img>
    <ul id="result">
    </ul>
    <div class="btn-area">
      <a id="play-btn">スタート</a>
    </div>
    <div class="desc">
      ポジティブなことをいうと
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
