<!doctype html>
<html>
  <head>
    <title>DEMO</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8"></link>
  </head>
  <body>
    <a class="btn">スタート</a>
    <div id='logo'></div>
    <img src="/img/iwi.png"></img>
    <ul id="result"></ul>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
